<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Constantine/IdeaProjects/mySecondTask">
        <classes>

            <class name="tests.BasicAuthorizationTest">
                <methods>
                    <include name="testBasicAuthorization"/>
                </methods>
            </class>

            <class name="tests.AlertsTest">
                <methods>
                    <include name="testAlertsWindows"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>